<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 450px;">

            <h3 class="text-center mb-4">Registro de Usuario</h3>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}


                <div class="mb-3">
                    <select class="form-select" name="tipo_documento" required>
                        <option value="" selected disabled>Tipo de Documento</option>
                        <option value="CC">Cédula de Ciudadanía</option>
                        <option value="TI">Tarjeta de Identidad</option>
                        <option value="CE">Cédula de Extranjería</option>
                        <option value="PAS">Pasaporte</option>
                    </select>
                </div>


                <div class="mb-3">
                    <input type="text" class="form-control" name="numero_documento" placeholder="Número de Documento"
                        required>
                </div>


                <div class="mb-3">
                    <input type="text" class="form-control" name="nombre_completo" placeholder="Nombre Completo"
                        required>
                </div>


                <div class="mb-3">
                    <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" required>
                </div>


                <div class="mb-3">
                    <input type="password" class="form-control" name="password1" placeholder="Crear Contraseña"
                        required>
                </div>


                <div class="mb-3">
                    <input type="password" class="form-control" name="password2" placeholder="Confirmar Contraseña"
                        required>
                </div>


                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">
                        Registrar
                    </button>

                    <a href="{% url 'login' %}" class="btn btn-secondary">
                        Regresar
                    </a>
                </div>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>